.Introduction {
    background-color: lightgreen;
    color: blueviolet;
}


.Citation {
    background-color: lightgrey;
    color: blue;
}

.Resources {
    background-color: lightcyan;
    color: darkolivegreen;
}

.map {
    position: absolute;
    top: 10%;
    bottom: 10%;
    width: 95%;
}