.Introduction {
    background-color: lightgreen;
    color: blueviolet;
}

.Test {
    background-color: white;
    ;
}

.Legend {
    background-color: white;
}

.Citation {
    background-color: lightgrey;
    color: blue;
}

