.Introduction {
    background-color: lightgreen;
    color: blueviolet;
}

.map {
    position: relative;
    top: 10%;
    bottom: 10%;
    width: 95%;
}

.Legend {
    background-color: white;
}

.Citation {
    background-color: lightgrey;
    color: blue;
}

.Resources {
    background-color: lightcyan;
    color: darkolivegreen;
}

